nav{
  margin-bottom: -20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  padding: 10px;

}

.nav-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff66c4;
  text-decoration: none;
}

.nav-right a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-right a:hover,
.nav-right a.active {
  color: #651482;
}
